/* moveUp */
@keyframes moveUp-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.moveUp-enter-active {
  animation: moveUp-enter .4s ease-in;
}

@keyframes moveUp-leave {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}
.moveUp-leave-active {
  animation: moveUp-leave .4s ease-out;
}

/* moveDown */
@keyframes moveDown-enter {
  from {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.moveDown-enter-active {
  animation: moveDown-enter .4s ease-in;
}

@keyframes moveDown-leave {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}
.moveDown-leave-active {
  animation: moveDown-leave .4s ease-out;
}

/* moveLeft */
@keyframes moveLeft-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.moveLeft-enter-active {
  animation: moveLeft-enter .4s ease-in;
}

@keyframes moveLeft-leave {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
.moveLeft-leave-active {
  animation: moveLeft-leave .4s ease-out;
}

/* moveRight */
@keyframes moveRight-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.moveRight-enter-active {
  animation: moveRight-enter .4s ease-in;
}

@keyframes moveRight-leave {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.moveRight-leave-active {
  animation: moveRight-leave .4s ease-out;
}
